/packages
/Activity1-2/App_Data
/Activity1-2/bin
/Activity1-2/Content
/Activity1-2/fonts
/Activity1-2/obj
/Activity1-2/Properties
/Activity1-2/Scripts
/Activity1-2/Activity1-2.csproj
/Activity1-2/Activity1-2.csproj.user
/Activity1-2/Web.Release.config
/Activity1-2/Web.Debug.config
/Activity1-2/Web.config
/Activity1-2/packages.config
/Activity1-2/Global.asax.cs
/Activity1-2/Global.asax
Activity1-2.sln
.vs