/packages
/MVCFirstApp/App_Data
/MVCFirstApp/bin
/MVCFirstApp/Content
/MVCFirstApp/fonts
/MVCFirstApp/obj
/MVCFirstApp/Properties
/MVCFirstApp/Scripts
/MVCFirstApp/Activity1-2.csproj
/MVCFirstApp/Activity1-2.csproj.user
/MVCFirstApp/Web.Release.config
/MVCFirstApp/Web.Debug.config
/MVCFirstApp/Web.config
/MVCFirstApp/packages.config
/MVCFirstApp/Global.asax.cs
/MVCFirstApp/Global.asax
/MVCFirstApp/favicon.ico
MVCFirstApp.sln
.vs