/packages
/Activity1-3/App_Data
/Activity1-3/bin
/Activity1-3/Content
/Activity1-3/fonts
/Activity1-3/obj
/Activity1-3/Properties
/Activity1-3/Scripts
/Activity1-3/Activity1-3.csproj
/Activity1-3/Activity1-3.csproj.user
/Activity1-3/Web.Release.config
/Activity1-3/Web.Debug.config
/Activity1-3/Web.config
/Activity1-3/packages.config
/Activity1-3/Global.asax.cs
/Activity1-3/Global.asax
/Activity1-3/favicon.ico
/Activity1-3/ApplicationInsights.config
Activity1-3.sln
.vs